body {
  background: #ffffff !important;
  background-size: contain;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
}
.header_area {
  background: url(../../assets/imagesource/banner_bg.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 0;
}

.make_hiring_wrap {
  background: url(../../assets/imagesource/hiring_new_bg.png) no-repeat 0 0;
  background-size: contain;
  margin: 0 0;
}

.dashboard_area {
  background: url(../../assets/imagesource/dashboard_bg.png) no-repeat 0 0;
  background-size: cover;
  margin: 0 0;
  padding-bottom: 150px;
}

@media only screen and (max-width: 767px) {
}

@media screen and (min-width: 360px) and (max-width: 767px) {
}

@media screen and (min-width: 412px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}
